@using EstateProject.Models;
@model building
@{
    ViewBag.Title = "BuildingDetail2";
    Layout = "~/Views/Shared/_LayoutBuildingDetail.cshtml";
}

<div class="main main-dt">
    <div class="container">
        <div class="main-cn bg-white clearfix">

            <!-- Breakcrumb -->
            <!-- End Breakcrumb -->
            <!-- Header Detail -->
            <section class="head-detail">
                <div class="head-dt-cn">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>@Model.name </h1>
                            <div class="start-address">
                                <span class="star">
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                </span>
                                <address class="address">
                                    @Model.name, @Model.street, @Model.ward, @Model.district
                                </address>

                            </div>
                        </div>
                        <div class="col-sm-5 text-right">
                            <p class="price-book">
                                <span>@Model.rentprice đ</span>/Month
                                <a href="@Url.Action("AddContact","Client")" title="" class="awe-btn awe-btn-1 awe-btn-lager">Contact Now</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Header Detail -->
            <!-- Detail Slide -->
            <section class="detail-slider">
                <!-- Lager Image -->
                <div class="slide-room-lg">
                    <div id="slide-room-lg">
                        @{
                            for (var i = 0; i < 10; i++)
                            {
                                foreach (var item in Model.building_images)
                                {
                                    if (@item.building_id == Model.id)
                                    {
                                        <img style="height:500px;" src="@Url.Content("~/Assets/Client/img/" + @item.name )" alt="">
                                    }
                                }
                            }
                        }
                    </div>
                </div>
                <!-- End Lager Image -->
                <!-- Thumnail Image -->
                <div class="slide-room-sm">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div id="slide-room-sm">
                                @{
                                    for (var i = 0; i < 10; i++)
                                    {
                                        foreach (var item in Model.building_images)
                                        {
                                            if (@item.building_id == Model.id)
                                            {
                                                <img style="height:65px;" src="@Url.Content("~/Assets/Client/img/" + @item.name )" alt="">
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Thumnail Image -->
            </section>
            <!-- End Detail Slide -->
            <!-- Hotel Content One -->
            <section class="hotel-content detail-cn" id="hotel-content">
                <div class="row">
                    <div class="col-lg-3 detail-sidebar">
                        <!-- Hight Light -->
                        <div class="hight-light">

                            <h2 style="font-size:35px">Contact broker</h2>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12 vote-text">
                                <img style="height: 250px; width: auto; " src="@Url.Content(@Model.users.image)" alt="">
                                <h3 style="width:max-content;">@Model.users.fullname</h3>
                                <h4 style="width:max-content;">SĐT : @Model.users.phone</h4>
                                <h4 style="width:max-content; font-size:14px;">Email : @Model.users.email</h4>
                                <a href="@Url.Action("AddContact","Client")" title="" class="awe-btn awe-btn-1 awe-btn-lager price-book"><b style="font-size:18px;">Contact Now</b></a>
                            </div>
                            <!-- Vote Text -->
                            <div class="row">
                                <!-- Recommend -->
                                <!-- End Tripadvitsor -->

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                                    <hr class="hr">
                                </div>
                                <!--<div class="col-xs-6 col-sm-6 col-md-3 col-lg-6 vote-text">
                            <p><span>95</span>%</p>
                            <small>Member Recommend</small>
                            <a href="#" title="">Read 36 Reviews</a>

                        </div>-->
                                <!-- End Recommend -->
                                <!-- Tripadvitsor -->
                                <!--<div class="col-xs-6 col-sm-6 col-md-3 col-lg-6  vote-text">
                            <img src="~/Assets/Client/template/images/icon-tripadvitsor.png" alt="">
                            <small>4.5 Very Good</small>
                            <a href="#" title="">145 Reviews</a>
                        </div>-->
                            </div>
                            <!-- End Vote Text -->



                        </div>
                        <!-- End Hight Light -->
                    </div>

                    <!-- Description -->
                    <div class="col-lg-9 hl-customer-like">

                        <h2>Introduce</h2>

                        <!-- Custom link field -->
                        <div class="customer-like">
                            <span class="cs-like-label">
                                Address
                            </span>
                            <ul>
                                <li>@Model.name, @Model.street, @Model.ward, @Model.district , Ha Noi</li>
                            </ul>
                        </div>
                        @{
                            if (@Model.structure != null)
                            {
                                <div class="customer-like">
                                    <span class="cs-like-label">
                                        Structure
                                    </span>
                                    <ul>
                                        <li>@Model.structure </li>
                                    </ul>
                                </div>
                            }
                        }
                        @{
                            if (@Model.numberofbasement != null)
                            {
                                <div class="customer-like">
                                    <span class="cs-like-label">
                                        Number of basement
                                    </span>
                                    <ul>
                                        <li>@Model.numberofbasement </li>
                                    </ul>
                                </div>
                            }
                        }
                        @{
                            if (@Model.floorarea != null)
                            {
                                <div class="customer-like">
                                    <span class="cs-like-label">
                                        Floor area
                                    </span>
                                    <ul>
                                        <li>@Model.floorarea m²</li>
                                    </ul>
                                </div>
                            }
                        }
                        @{
                            if (@Model.direction != null)
                            {
                                <div class="customer-like">
                                    <span class="cs-like-label">
                                        Direction
                                    </span>
                                    <ul>
                                        <li>@Model.direction</li>
                                    </ul>
                                </div>
                            }
                        }

                        <div class="customer-like">
                            <span class="cs-like-label">
                                Type
                            </span>
                            <ul>
                                @{
                                    if (@Model.typess.ToString() == "NOI_THAT")
                                    {
                                        <li>Noi That</li>
                                    }
                                    if (@Model.typess.ToString() == "NGUYEN_CAN")
                                    {
                                        <li>Nguyen Can</li>
                                    }
                                    if (@Model.typess.ToString() == "TANG_TRET")
                                    {
                                        <li>Tang Tret</li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="policies-item">
                            <h3>Apartment Description</h3>
                            <p>
                                @Model.note
                                <br>
                                Morbi sed sollicitudin augue. Ut metus nibh, fringilla vitae mi in, aliquam ullamcorper nisl. Integer id tincidunt libero. Donec pharetra est sed suscipit efficitur. In a gravida quam. Aenean vel dolor augue. In nec lacinia enim, vitae fermentum elit. Aliquam non diam sed lectus commodo hendrerit.
                                <br>
                                Vivamus pulvinar nulla id massa congue varius. Etiam vitae nunc consectetur, porttitor purus ac, sagittis dui. Ut sit amet consectetur diam. Suspendisse mollis dapibus porta. In erat quam, pulvinar eu efficitur ut, malesuada nec augue. Pellentesque odio orci, interdum eu tortor sollicitudin, tincidunt placerat erat. Quisque pretium mauris at condimentum imperdiet.
                            </p>
                        </div>
                        <!-- End Custom link field -->

                    </div>
                    <!-- End Description -->
                </div>

            </section>
            </section>
            <!-- End Hotel Features -->
            <!-- Details-Policies -->
            <section class="details-policies detail-cn" id="details-policies">
                <div class="row">
                    <div class="col-lg-3 detail-sidebar">
                        <div class="scroll-heading">
                            <h2>Map</h2>
                            <hr class="hr">
                        </div>
                    </div>
                    <div class="col-lg-9 details-policies-cn">

                        <iframe class="position-relative rounded w-100 h-100 "
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                                frameborder="0" style="min-height: 600px; width:800px; border:0;" allowfullscreen="" aria-hidden="false"
                                tabindex="0"></iframe>

                    </div>
                </div>
            </section>
            <section class="detail-footer detail-cn">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9 detail-footer-cn"></div>
                </div>
            </section>
        </div>
    </div>
</div>